# .gitignore file for xskak
*.curlopt
*.bak
# Temporary files in the tests directory
tests/*.log
tests/*.pdf
tests/*.lua
tests/*.otf
tests/*.aux
tests/phg-*.tex
tests/*.pfb
tests/*.afm
tests/*.tfm
tests/*.dvi
tests/*.ofm
tests/*.ovp
tests/*.ovf
tests/*.sty
tests/*
trials/*.log
trials/*.pdf
trials/*.aux
trials/*.tuc


testfiles/*.log
testfiles/*.aux
testfiles/*.pdf

# temporary directories
build/*

# tex side-effects
*.aux
*.log
*.out
xskak.pdf
*.tmp
*.toc
*.tuc
*.mst
*.dvi
*.ps
*.sav
*.nav
*.snm
*.vrb
*.idx
*.ind
*.hd
*.ilg
*.lol

*.synctex
*.synctex.gz

*ls-R

